<table class="block-table">
  <thead>
    <tr>
      <th>Product</th>
    <% orders_including_customer.each do |order| %>
      <th><%= order.customer.name %> - <%= order.number %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>

  <% products_by_variant_id.each do |(variant_id, product)| %>
    <tr>
      <td class="align-left"><%= product.first.name %> - Variant: <%= variant_id %></td>
    <% orders_including_customer.each do |order| %>
      <td class="align-right"><%= variants_by_order_report.line_item_for(variant_id, order.id) %></td>
    <% end %>
    </tr>
  <% end %>

  </tbody>
</table>
