<table>
  <thead>
    <tr>
      <th>Product</th>
    <% orders.each do |order| %>
      <th><%= order.customer.try(:name) || 'Guest' %> - <%= order.number %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>

  <% line_items_by_variant_id.each do |(variant_id, line_items)| %>
    <tr>
      <td><%= products_by_variant_id[variant_id.to_s].first.name %> - Variant: <%= variant_id %></td>
    <% line_items.each do |line_item| %>
      <td><%= line_item.quantity %></td>
    <% end %>
    </tr>
  <% end %>

  </tbody>
</table>
